
.am-content-container {

    max-width: 1100px;

    margin: 0 auto
}
.am-content-container.am-content-container-small {
    max-width: 650px;
    margin: 0 auto
}
.am-content-container.am-content-container-small section: not(.am-full-width): not(.am-wide-width), .am-content-container.am-content-container-small div.am-subscribe-web: not(.am-full-width): not(.am-wide-width), .am-content-container.am-content-container-small .am-entry>p: not(.am-full-width): not(.am-wide-width) {
    width: 650px
}
#logo {
    padding-left: 1em;
    z-index: 1
}
#logo a {
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .15)
}
nav {
    padding-right: 1em
}
nav ul {
    float: right
}
nav .pure-menu a {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .15)
}
nav .pure-menu a:hover {
    background: rgba(255, 255, 255, .2)
}
.am-dark nav .pure-menu a:hover {
    background: rgba(0, 0, 0, .2)
}
.am-dark #logo a, .am-dark nav .pure-menu a {
    color: #101010
}
.am-hero {
    margin-top: -80px
}
.am-hero.am-hero-cover {
    overflow: hidden
}
.am-hero, .am-hero>div, .am-hero.am-hero-cover .pure-g {
    height: 400px;
    max-height: 400px
}
.am-hero-small, .am-hero-small>div, .am-hero-small.am-hero-cover .pure-g {
    height: 300px;
    max-height: 300px
}
.am-hero-large, .am-hero-large>div, .am-hero-large.am-hero-cover .pure-g {
    height: 400px;
    max-height: 400px
}
.am-hero-cover {
    position: relative;
    box-shadow: inset 0 -1px 4px rgba(0, 0, 0, .4);
    background-color: #212121;
    background-size: 1920px auto;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    -moz-transition: background-image 1s ease-in-out;
    -webkit-transition: background-image 1s ease-in-out;
    -o-transition: background-image 1s ease-in-out
}
.am-hero-cover.am-parallax-background {
    background-position: center top
}
.am-hero-cover .pure-g {
    display: table;
    position: relative;
    z-index: 1
}
.am-hero-cover .pure-u {
    display: table-cell;
    vertical-align: middle
}
.am-hero-cover h1, .am-hero-cover h2 {
    margin: 0;
    padding: 0;
    padding: 0 16px;
    font-weight: 700;
    font-size: 42px;
    line-height: 58px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .15);
    color: #fff
}
.am-hero-cover h2 {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: .8
}
.am-dark .am-hero-cover {
    background-color: #fff
}
.am-dark .am-hero-cover h1 {
    color: #101010
}
#body {
    padding-top: 2em;
    font-size: 16px;
    color: #444;
    line-height: 28px
}
#body .pure-u {
    padding: 0 .5em
}
#body .am-entry {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 2.5em;
    margin-bottom: 1.5em
}
#body .am-entry h2 {
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: 700;
    font-size: 24px;
    color: #333;
    line-height: 29px
}
#body .am-entry h2 a {
    color: #333;
    text-decoration: none
}
#body .am-entry p {
    margin-top: 0;
    margin-bottom: 1em
}
#body .am-entry img {
    width: 100%
}
a {
    color: #1980E3
}
pre {
    overflow-x: scroll
}
pre code {
    font-size: 14px;
    white-space: pre
}
#body table {
    margin-bottom: 1em
}
hr {
    border-color: #E5E5E5;
    border-style: solid;
    border-bottom-width: 0
}
.am-wide-width, .am-full-width {
    position: relative;
    width: 100%;
    overflow: visible;
    -webkit-transition: .1s width ease-in-out
}
img.am-wide-width, img.am-full-width {
    max-width: none;
    margin-bottom: 10px
}
.am-entry-meta {
    margin-left: -66px;
    height: 0
}
.am-entry-meta ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}
.am-entry-meta li {
    margin: 0;
    padding: 0
}
li.am-entry-meta-bubble {
    background: #C7C7C7;
    color: #fff;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 16px
}
li.am-entry-meta-bubble-small {
    line-height: 30px;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    font-size: 10px
}
li.am-entry-meta-bubble a {
    color: #fff;
    text-decoration: none
}
.am-entry-meta-bubble-vertical-center-container {
    display: table
}
.am-entry-meta-bubble-vertical-center-wrapper {
    display: table-cell;
    vertical-align: middle
}
.am-meta-date-month, .am-meta-date-day {
    display: block
}
.am-meta-date-month {
    font-size: 14px;
    line-height: 14px
}
.am-meta-date-day {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    margin-top: 4px
}
.am-subscribe-well {
    border: 1px solid #ededed;
    background: #f6f6f6;
    padding: 1em
}
.am-lesson-list {
    list-style-type: none;
    padding-left: .5em
}
.am-lesson-list>li {
    margin-bottom: 1em
}
.am-lesson-list .am-lesson-list-number {
    display: inline-block;
    color: #fff;
    background: #333;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    margin-right: .5em;
    text-align: center
}
.am-lesson-list .am-lesson-list-title, .am-lesson-list .am-lesson-list-preview {
    display: block;
    line-height: 1.5em
}
.am-lesson-list .am-lesson-list-title a {
    display: inline-block;
    color: #444;
    font-weight: 700;
    text-decoration: none
}
.am-lesson-list .am-lesson-list-preview {
    font-weight: 400;
    font-size: .8em
}
.am-parent-button {
    font-size: 13px;
    padding: .5em;
    margin-bottom: 1em
}
.am-tutorial-navigation {
    margin-top: 2em
}
.am-tutorial-navigation a, .am-tutorial-navigation span {
    display: block;
    line-height: 1.4em;
    font-weight: 700;
    color: #333
}
.am-tutorial-navigation a {
    padding: .4em 0
}
.am-tutorial-navigation a:hover {
    opacity: .9
}
.am-tutorial-navigation.am-tutorial-navigation-next {
    text-align: right
}
.am-tutorial-navigation-meta {
    text-transform: uppercase;
    font-size: .7em;
    opacity: .4
}
.am-tutorial-preview {
    padding: 1em 1.5em;
    background: #eee;
    border: 1px solid #ccc
}
.am-portfolio-listing-item {
    position: relative;
    margin-bottom: 1em
}
.am-portfolio-listing-item-padding {
    position: relative;
    width: 96%;
    margin: 0 2%
}
.am-portfolio-listing-item h2 {
    position: absolute;
    bottom: .5em;
    z-index: 2;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 0 5%;
    margin: 0;
    width: 90%;
    background: rgba(0, 0, 0, .6)
}
.am-portfolio-listing-item h2 a {
    color: #fff;
    text-decoration: none;
    display: block
}
.am-cart-remove {
    color: #222;
    text-decoration: none
}
footer {
    margin-top: 6em;
    margin-bottom: 6em;
    font-size: 13px;
    color: #A4A4A4;
    line-height: 28px
}
footer .am-content-container {
    padding-top: 6em
}
.am-visible-phone {
    display: none;
    visibility: hidden
}

@media (max-width: 814px) {
    .am-entry-meta {
        margin-left: 0;
        height: auto
   }
   .am-entry-meta li {
       margin: 0;
       margin-right: 8px;
       display: inline-block
  }
  .am-entry-meta-bubble-vertical-center-wrapper {
      display: block
 }
 .am-entry-meta li.am-entry-meta-bubble {
     background: 0;
     line-height: 20px;
     width: auto;
     height: auto;
     margin-bottom: 12px
}
.am-entry-meta li.am-entry-meta-bubble a, .am-entry-meta li span {
    color: #A4A4A4;
    font-size: 14px
}
.am-meta-date-day:after {
    padding-left: 16px;
    content: "|"
}
.am-meta-date-month, .am-meta-date-day {
    display: inline;
    font-weight: 400
}
li.am-entry-meta-bubble a {
    padding: 4px 8px
}
}
@media screen and (max-width: 979px) {
    header {
        height: auto;
        line-height: auto
   }
   #logo a {
       color: #121212;
       text-shadow: none
  }
  nav .pure-menu a {
      font-size: 13px;
      font-weight: 400;
      color: #fff;
      text-shadow: none
 }
 .am-hero {
     margin-top: -80px
}
.am-hero-large, .am-hero-large>div, .am-hero-large.am-hero-cover .pure-g {
    min-height: 300px;
    height: 300px
}
.am-hero-cover {
    box-shadow: inset 0 -1px 6px rgba(0, 0, 0, .2);
    background-size: 1280px auto
}
.am-hero-cover .pure-g {
    width: 100%
}
.am-hero-cover h1, .am-hero-cover h2 {
    font-size: 36px;
    line-height: 48px;
    text-align: center
}
.am-hero-cover h2 {
    font-size: 18px;
    line-height: 18px
}
#body {
    font-size: 18px;
    line-height: 32px
}
.am-content-container.am-content-container-small section: not(.am-full-width): not(.am-wide-width), .am-content-container.am-content-container-small div.am-subscribe-web: not(.am-full-width): not(.am-wide-width), .am-content-container.am-content-container-small .am-entry>p: not(.am-full-width): not(.am-wide-width) {
    width: auto
}
}
@media screen and (max-width: 650px) {
    #logo a {
        font-size: 18px
   }
   nav {
       height: 0;
       overflow: hidden
  }
  nav.am-menu-expanded {
      height: auto;
      margin-bottom: 1.5em
 }
 nav ul {
     float: none
}
nav .pure-menu.pure-menu-horizontal>ul {
    display: block;
    height: auto
}
nav .pure-menu-horizontal li {
    display: block;
    padding-bottom: .5em;
    margin-bottom: .5em;
    padding-right: 0;
    border-bottom: 1px solid #eee
}
.am-open-menu {
    text-align: center
}
.am-hero, .am-hero>div, .am-hero.am-hero-cover .pure-g {
    min-height: 300px;
    height: 300px
}
.am-hero-cover {
    box-shadow: inset 0 -1px 6px rgba(0, 0, 0, .2);
    background-size: 768px auto
}
.am-hero-cover h1, .am-hero-cover h2 {
    font-size: 24px;
    line-height: 28px;
    padding-left: 0
}
.am-hero-cover h2 {
    font-size: 16px;
    line-height: 16px
}
#body .am-entry p {
    padding: 0 .25em
}
.am-tutorial-navigation {
    padding: 0 .5em
}
.am-tutorial-navigation.am-tutorial-navigation-next {
    text-align: left
}
.am-visible-phone {
    display: block;
    visibility: visible
}
img.am-wide-width, img.am-full-width {
    max-width: 100%
}
.am-portfolio-listing-item {
    margin: 0 .5em
}
.am-portfolio-listing-item h2 {
    padding: 0;
    margin: .5em 0;
    bottom: 0;
    width: 100%;
    font-size: 16px
}
.am-portfolio-listing-item h2 a {
    padding-left: 2%
}
}